/*Font og farger inspirert av oslobysykkel.no*/
body {
    background-color: #005ec9;
    gap: 16px;
}
h1,h2 {
    color: #ffffff;
}
div {
    background-color: #ffffff;
    color: #0b163f;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    margin: 8px;
    display: inline-block;
}
li {
    list-style-type: none;
}